@font-face {
  font-family: "leagueFont";
  src: url(spaceships.otf);
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  overflow: hidden;
  font-family: "leagueFont";
  color: white;
}
body {
  height: 100vh;
  width: 100%;
  background-image: url(Images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: 0.8s;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  overflow: hidden;
}
canvas {
  background: transparent;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 5px 1px white;
}
header {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.headerContainer {
  width: 90%;
  height: 50px;
  display: flex;
  box-shadow: 0 0 5px 1px white;
  align-items: center;
  justify-content: space-evenly;
  background: transparent;
  backdrop-filter: blur(20px);
  margin-bottom: 3px;
}
.headerContainer div {
  width: 20%;
  height: 30px;
  text-align: center;
  font-size: 18px;
}
.playerRank {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.rank-option {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 160px;
  height: 50px;
  position: absolute;
  top: 60px;
  left: 30%;
  z-index: 1;
}
.rank-option img {
  width: 30px;
  height: 30px;
}
.play-pause {
  width: 100px;
  height: 30px;
  background: transparent;
  color: #ffffff;
  cursor: pointer;
  letter-spacing: 1px;
  font-size: 18px;
  transition: 1s;
}
.play-pause:hover {
  letter-spacing: 4px;
  color: #0a95bf;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(15px);
  z-index: 5;
}
.gameStartMessage,
.gameOverMessage {
  width: 550px;
  height: 350px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 2%;
  font-size: 1.3em;
  letter-spacing: 1.5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  background: transparent;
  color: #121231;
  backdrop-filter: blur(25px);
  box-shadow: 0 0 5px 3px #0a95bf;
  z-index: 10;
}
.gameStartMessage h1,
.gameOverMessage h1 {
  font-size: 30px;
  letter-spacing: 6px;
}
.gameStartMessage span,
.gameOverMessage span {
  color: #0a95bf;
}
.gameStartMessage h3,
.gameOverMessage h3 {
  font-size: 16px;
  letter-spacing: 1px;
}
.startBtn,
.menuBtn {
  width: 120px;
  height: 35px;
  font-size: 20px;
  color: #ffffff;
  background: transparent;
  letter-spacing: 1px;
  border: none;
  box-shadow: 0 0 5px 1px white;
  cursor: pointer;
}
.startBtn:hover,
.menuBtn:hover {
  box-shadow: 0 0 5px 1px #0a95bf;
  letter-spacing: 4px;
  color: #0a95bf;
  transition: 1s;
}
.gameInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.winMessage {
  font-size: 30px;
  color: #84ff00;
  box-shadow: 0 0 5px 1px white;
  letter-spacing: 3px;
  text-align: center;
  padding: 10px;
}
.textContext p {
  width: 100%;
  font-size: 14px;
  margin-bottom: 5px;
  text-align: start;
}
.gameOverMessage .gameInfo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
}
.dataContent p {
  font-size: 16px;
  margin-bottom: 5px;
}
.dataContent img {
  width: 35px;
  height: 35px;
  margin-bottom: 5px;
}
.spaceship {
  position: relative;
  width: 30%;
  transition: 1.5s;
  cursor: pointer;
  padding: 5px;
}
.spaceship:hover {
  rotate: 90deg;
}
.hidden {
  display: none;
}
